body{
    background-color: lightslategrey;
}
.base{
    height: auto;
    display: flex;
    padding: 100px;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    border-width: medium;
    border-color: blueviolet;
}
.block{
    height: 600px;
    width: 400px;
    border-width: 5px;
    border-color: black;
    background-color: lightsteelblue;
    justify-content: center;
    padding: 5px;
    align-items: center;
    font-size: 18px;
}
.block.block1{
    border-color: crimson;
    border-width: 5px;
}
.block.block2{
    border-color: chartreuse;
    border-width: 5px;
}
.block.block2.text_title{
    border-color: blueviolet;
    border-width: 5px;
}
.block.block3{
    border-color: aqua;
    border-width: 5px;
}
.text_title{
    font-size: 22px;
    padding: 2px;
}